{% extends 'layouts/base.twig' %}

{# PAGE BODY #}
{% block page_body %}

    <div class="container">
        <h1 class="title-404">Sorry, this page doesn't exist.</h1>
        <p class="text-404">Please use our navigation above to find what you're looking for.</p>
    </div>

{% endblock %}