{% extends 'layouts/base.twig' %}

{# PAGE BODY #}
{% block page_body %}

    {# MASTHEAD #}
    {% if masthead %}
        {% embed 'components/masthead.twig' with { background_img : masthead['image'], text : masthead['text'] } %}
        {% endembed %}
    {% endif %}

    {% embed 'layouts/two-column-right.twig' %}
        {% block content %}

            {% if masthead is empty %}
                <h1>{{ post.title }}</h1>
            {% endif %}

            {# CONTENT #}
            {% import "macros/sections.twig" as page %}
            {{ page.build_sections(_context) }}

        {% endblock %}
    {% endembed %}
{% endblock %}